<?xml version="1.0"?>
<!-- Copyright (c) 2024 Payfast (Pty) Ltd -->
<extension>
    <id>payfast</id>
    <version>1.1.0</version>
    <type>payment</type>
    <category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="payfast_status">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="payfast_merchant_id">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="payfast_merchant_key">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="payfast_passphrase">
            <type required="false">input</type>
            <default_value></default_value>
        </item>
        <item id="payfast_test">
            <type>selectbox</type>
            <variants>
                <item>1</item>
                <item>0</item>
            </variants>
            <default_value>1</default_value>
        </item>
        <item id="payfast_debug_mode">
            <type>selectbox</type>
            <variants>
                <item>1</item>
                <item>0</item>
            </variants>
            <default_value>0</default_value>
        </item>
        <item id="payfast_order_status_id">
            <type>selectbox</type>
            <variants>
                <item>1</item>
                <item>2</item>
                <item>5</item>
            </variants>
            <default_value>2</default_value>
        </item>
        <item id="payfast_location_id">
            <type>selectbox</type>
            <variants>
                <item>0</item>
                <data_source>
                    <model_rt>localisation/location</model_rt>
                    <method>getLocations</method>
                </data_source>
                <fields>
                    <field>location_id</field>
                    <field>name</field>
                </fields>
            </variants>
        </item>
        <item id="payfast_redirect_payment">
            <type>hidden</type>
            <default_value>true</default_value>
        </item>
    </settings>
    <help_file><![CDATA[help.txt]]></help_file>
    <preview>
        <item>payfast.svg</item>
    </preview>
    <note>true</note>
    <install>
        <trigger>install.php</trigger>
    </install>
    <uninstall>
        <trigger>uninstall.php</trigger>
    </uninstall>
</extension>
